<!DOCTYPE html>
<head></head>
<body>
<blockquote class="twitter-tweet"><a href="https://twitter.com/x/status/1283263778583445504"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>